<div style="width: 500px;">
  <canvas #chart1 >

  </canvas>

  <br>
  <label for="">total população</label>
  <input type="number" [(ngModel)]="dadosDigitados.totalPopulacao">
  <br>
  <label for="">infectados</label>
  <input type="number" [(ngModel)]="dadosDigitados.inicialInfectados">
  <br>
  <label for="">taxa recuperação</label>
  <input type="range" min="0" max="1.00" step="any" [(ngModel)]="dadosDigitados.taxaRecuperacao">
  <span>{{dadosDigitados.taxaRecuperacao.toFixed(2)}}</span>
  <br>
  <label for="">taxa contato</label>
  <!-- <input type="text" #taxaContato step="1" (input)="apenasNumeros($event)" [(ngModel)]="dadosDigitados.taxaContato"> -->
  <!-- <ngx-slider [(value)]="value" [options]="options"></ngx-slider> -->
  <input type="range" min="0" max="1.00" step="any" [(ngModel)]="dadosDigitados.taxaContato">
  <span>{{dadosDigitados.taxaContato.toFixed(2)}}</span>
  <br>
  <br>
  <button (click)="atribuirValores()">calcular</button>
</div>
