<mat-toolbar class="mat-elevation-z8">
  <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
    class="mt-3 btn-mobile"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <section class="projection-container">
      <h2 class="text-center mt-3">Projeções</h2>
      <div class="mt-5">
        <select class="form-select">
          SIR, SIHR, SIM
          <option selected>Selecione o Modelo</option>
          <option value="1">SIR</option>
          <option value="2">SIHR</option>
          <option value="3">SIM</option>
        </select>
      </div>
      <div class="inputs-container mt-4">
        <div class="mb-3">
          <label for="total_population" class="form-label"
            >População Total</label
          >
          <input
            type="text"
            class="form-control"
            id="total_population"
            [(ngModel)]="data.total_population"
          />
        </div>
        <div class="mb-3">
          <label for="initial_infected" class="form-label">
            Inicial de Infectados</label
          >
          <input
            type="text"
            class="form-control"
            id="initial_infected"
            [(ngModel)]="data.initial_infected"
          />
        </div>
      </div>
      <div class="container-slider mt-4">
        <div class="input-slider">
          <label for="">Taxa de Recuperação</label>
          <input
            type="range"
            min="0"
            max="1.00"
            step="any"
            [(ngModel)]="data.recovery_rate"
            class="campo"
          />
          <span class="form-text m-0">{{ data.recovery_rate.toFixed(2) }}</span>
        </div>
        <div class="input-slider">
          <label>Taxa de Transmissão</label>
          <input
            type="range"
            min="0"
            max="1.00"
            step="any"
            [(ngModel)]="data.transmission_rate"
            class="campo"
          />
          <span class="form-text m-0">{{
            data.transmission_rate.toFixed(2)
          }}</span>
        </div>
      </div>
      <div class="box-btn text-center mt-4">
        <button (click)="updateChartSIR()" class="btn-chart">Calcular</button>
      </div>
    </section>
  </mat-sidenav>
  <mat-sidenav-content>
    <main class="content">
      <div class="chart-container">
        <section class="chart-main">
          <h2>Modelo SIR</h2>

          <canvas #chart> </canvas>
        </section>
      </div>
      <section class="charts-secondary">
        <div class="chart-rt">
          <h2>RT</h2>
          <app-chart-rt></app-chart-rt>
        </div>
        <div class="chart-tc">
          <h2>TC</h2>
          <app-chart-tx></app-chart-tx>
        </div>
      </section>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
